/* all thing pink */

@font-face {
    font-family: 'all_things_pinkmedium';
    src: url('../fonts/All Things Pink-webfont.eot');
    src: url('../fonts/All Things Pink-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/All Things Pink-webfont.woff2') format('woff2'),
         url('../fonts/All Things Pink-webfont.woff') format('woff'),
         url('../fonts/All Things Pink-webfont.ttf') format('truetype'),
         url('../fonts/All Things Pink-webfont.svg#all_things_pinkmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h2{
font-family: 'Ubuntu', sans-serif;
color: #666;
padding-top: 1em;
}

h3{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	font-size: 1.5em;
}

h4{
	font-weight: 700;
}

h5{
	font-family: 'all_things_pinkmedium', Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	color: #999;
}


#texto_intro{
	margin-top: 3em;
}

p.bigger{
	font-size: 1.5em;
	font-weight: 300;
}

p.big{
	font-size: 1.25em;
	font-weight: 300;
}

footer{
	margin-top: 3em;
	margin-bottom: 6em;
}

/* utilities */
.separaTop{
	margin-top: 1.5em;
}

.separaTop6{
	margin-top: 6em;
}

.ombra, .sombra{
	
		-webkit-box-shadow: 0 8px 6px -6px black;
			   -moz-box-shadow: 0 8px 6px -6px black;
			        box-shadow: 0 8px 6px -6px black;
			        
		-webkit-box-sizing: border-box;
		    -moz-box-sizing: border-box;
		    box-sizing: border-box;
	
}

.noPadding {
   padding: 0 !important;
   margin: 0 !important;
}

.nopaddingL {
   padding-left: 0 !important;
   margin-left: 0 !important;
}

.nopaddingR {
   padding-right: 0 !important;
   margin-right: 0 !important;
}

/* tablas */
td.money{
	text-align: right;
}

table.tablesorter tbody td.money{
	padding-right: 0.75em !important;
	font-weight: 400;
}


.bg_tot{
	background-color: #0000ee;
	width: 100%;
	margin-top: 1.5em;
}

.bg_t1{
	background-color: #00eeee;
}

.c1{
	color: #00eeee;
}

.bg_t2{
	background-color: #ee00ee;
}

.c2{
	color: #ee00ee;
}

.bg_t3{
	background-color: #00ee00;
}

.c3{
	color: #00ee00;
}

.bg_t4{
	background-color: #ee0000;
}

.c4{
	color: #ee0000;
}

#concejales .bg_tot, #concejales .bg_t1, #concejales .bg_t2, #concejales .bg_t3, #concejales .bg_t4{
	height: 8px;
	margin-top: 0;
}

#concejales .card{
	padding-top: 0;
	border-top: 1px solid #ccc;
	padding-bottom: 1em;
}

#concejales .bloque{
	display: inline-block;
	min-width: 4px;
	margin: 0;
}

#totalG .bg_tot{
	margin-top: 1.5em;
}

.bloque{
	
	color: #fff;
	display: inline-block;
	/*padding: 1em;*/
	margin: 0;
	overflow: hidden;
	float: left;
}

.bloque p.concepto{
font-weight: 300;

margin-bottom: 0;
padding-left: 1em;
padding-top: 0.5em;
color: rgba(255, 255, 255, .75);
}

.bloque p.importe{
	font-weight: 700;
	/*font-size: 1.5em;*/
	margin-bottom: 0;
	padding-left: 1em;
	padding-bottom: 0.5em;
}


#rotulos h6{
	font-family: 'all_things_pinkmedium', Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	color: #00a58d;
	margin-top: 1.5em;
	padding-bottom: 0.5em;
	display: block;
	border-bottom: 1px solid #dedede;
	
}

.total{
	text-align: right;
}

.total h1{
	display: block;
	border-bottom: 1px solid #ccc;
	margin-bottom: 1em;
}

p.numero{
	float: right;
   margin-bottom: 0;
    font-size: 18px;
    font-weight: 400;
   
}

.euro{
	font-weight: 700;
	font-size: 0.75em;
	color: #666;
	font-weight: 400;
}

.bloque span.euro{
	color: rgba(255, 255, 255, .75);
}

.panel-heading a{
	color: #333;
}

.panel-heading a:hover{
	text-decoration: none;
	color: #999;
}

.panel-body{
	padding:0 !important ;
}

table.tablesorter {
	margin:  0;
}

table.tablesorter tbody td:last-child {
	/*text-align: right;*/
}

table.tablesorter tbody td:first-child{
	
	/*font-size: 0.8em;*/
}

table.tablesorter tbody td:last-child{
	
	/*font-weight: 400;*/
}

table.tablesorter tbody tr:last-child {
	border-bottom: 1px solid #ccc;
}

.panel-heading {
  padding: 10px 2px;
  border-bottom: 0px solid #fff;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  /*border-top: 1px solid #ccc;*/
 font-weight: 700;
}

.panel-default > .panel-heading{
	border-bottom: 0px solid #fff;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	background-color: #fff;
	/*border-bottom: 1px solid #ccc;*/
	border-top:  1px solid #ccc;
}

.panel-group .panel {
	border-radius:0 !important;
}

.panel{
	border: 0px solid transparent;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
.panel-default {
	border-left-color: #fff;
	border-right-color: #fff;
	border-left: 0px solid #fff;
	border-right: 0px solid #fff;
}

.panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body {
	border-top: 0px solid #fff;
}

/* programa */

.container{
	max-width: 960px !important;
}

.row-centered {
       float: none;
        margin-left: auto;
        margin-right: auto;
}

#resumen h4, .urgentes h4{
	
	color: #00a58d;
	margin-top: 1.5em;
	padding-bottom: 0.5em;

	
}


#resumen ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-weight: 300;
}

#resumen ul li{
font-size: 1.2em;
	line-height: 1.5em;
	margin-bottom: 1.5em;
	margin-bottom: 0.75em;
	padding-top: 0.75em;
	border-top: 1px solid #dedede;
	
}

#resumen ul li a{
	color: inherit;
	display: block;
}


#resumen ul li a:hover{
	color: #00a58d;
	text-decoration: none;
}

aside ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-left: 0.8em;
}

aside#side_nav{
	/*background-color: #efefef;*/
	border: 1px solid #dedede;
	
	box-shadow: 0px 8px 6px -6px #999;
	box-sizing: border-box;
	padding-bottom: 1.5em;
	padding-top: 1.5em;
	

}

img{
	max-width: 100%;
	height: auto;
}

aside img{
	box-shadow: 0px 8px 6px -6px #333;
	box-sizing: border-box;
	
	margin-top: 3em;
	
}

aside ul li{
	text-indent: -0.8em;
	padding-left: 0.8em;
	margin-bottom: 0.5em;
}

aside ul#local_nav li{
margin-bottom: 0;
}

aside ul li a{
	color: #666;
	display: block;
}

aside ul li.current a{
	color: #000;
	display: block;
}

aside ul li a i{
	padding-right: 0.5em;
	color: #00a58d;
	color: #f79804;
	color: #999;
}

aside ul li a:hover{
	text-decoration: none;
	color: #00a58d;
}
aside ul li a:hover i{
color: #00a58d;
color: #f79804;

}

.lineTop{
	border-top: 1px solid #efefef;
	padding-top: 1.5em;
}



.evidenciador{
	padding-left: 0.25em;
	padding-right: 0.25em;
	white-space: nowrap;
	
}

.evidenciador.verde{
	background-color:#00a58d;
	color: #fff;
}

.evidenciador.naranja{
	background-color: #f79804;
	color: #fff;
}

.evidenciador.rojo{
	background-color: #e95026;
	color: #fff;
}

p a{
	color: #048976;
}

p a:hover{
	color: #000;
}

aside#side_nav h6{
	text-transform: uppercase;
	font-weight: 700;
	color: #e95026;
	color: #00a58d;
		
	margin-bottom: 1em;
	margin-top: 0.5em;
}

#areas h3{
	color: #666;
	color: #00a58d;
	margin-top: 1.5em;
	
	
	text-indent: -1.5em;
	padding-left: 1.5em;
}

#resumen h4 a{
	color: inherit;
}

#areas p{
	padding-left: 2.2em;
}

#areas p.big{
	padding-left: 1.8em;
}


#areas h3 small{
	color: #e95026;
	padding-right: 0.5em;
}

#areas h2 {
text-indent: -1em;
padding-left: 1em;
margin-bottom: 0.75em;
}

#areas h2 small{
	color: #e95026;
	padding-right: 0.5em;
	
}



/* pagination */
.onepage-pagination {
  position: fixed;
  right: 24px;
  top: 40%; 
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0; 
  display: inline;
}
.onepage-pagination li {
  padding: 0;
  text-align: center;
  margin-bottom: 0;
}

.onepage-pagination li a{
  padding: 10px;
  width: 4px;
  height: 4px;
  display: block; 
  cursor: pointer;
}

.onepage-pagination li a:before{
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background: rgba(0,0,0,0.85);
  background: #00a58d;
  
  
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.onepage-pagination li.current a:before{
  width: 10px;
  height: 10px;
  
  background: none;
  border: 1px solid #BF1E2D;
  
   border: 2px solid #00a58d;
      
  margin-top: -4px;
  left: 8px;
  left: 7px;
}



/* cards */

#sort_and_filters{
	/*background-color: #f4f4f4;*/
	/*margin-bottom: 1.5em;*/
	margin-top: 1.5em;
	padding-top: 1.5em;
	/*padding-bottom: 1.5em;*/
}

#intro{
	margin-top: 1.5em;
	padding-top: 1.5em;
	margin-bottom: 1.5em;
}

caption{
	/*text-align: right;*/
	font-weight: 300;
}

#intro select{
	padding: 0.5em;
}

#facturas{
	vertical-align: top;
}

/* cards */

.card{
	display: inline-block;
	width: 24%;
	
	width: 19.25%;
	width: 24%;
	
	
	border: 1px solid #ccc;
	
	/*padding: 1.5em;*/
	margin-bottom: 8px;
	background-color: #f4f4f4;
	padding-top: 1.5em;
	border-top: 3px solid #333;
	
	-webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.25);
		   -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.25);
		        box-shadow: 0 8px 6px -6px rgba(0,0,0,0.25);
		        
	-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	vertical-align: top;
}

.card p{	
	font-weight: 300;
	margin-right: 1.5em;
	margin-left: 1.5em;
}

.card p.importe{
	text-align: right;
	display: block;
	border-top: 1px solid #ccc;
	font-size: 1.2em;
	padding-top: 0.75em;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
}

.card p.parcial{
	color: #333 !important;
}

.card p.benefit:after, .card p.dni:after{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale; color: #999; float: right;

}

.card p.benefit:after{
	content:"\f007";
}

.card p.dni:after{
	content:"\f09d";
}

.card p.dni{
	text-transform: uppercase;
}

.card p.benefit, .card p.dni{
display: block;
border-top: 1px dotted #ccc;
padding-top: 0.5em;

}

#concejales .card {
	cursor: pointer;
}

#concejales .card hr{
	border-color: #ccc;
}

#concejales .card p.parcial{
	/*text-align: right;*/
	font-size: 0.8em;
	margin-bottom: 0px;

}

#concejales .card p.parcial span{
	font-weight: 600;
	font-size: 1.2em;
	color: #333;
	display: block;;
	text-align: right;
}

#concejales .card p.parcial span.euro{
	/* font-size: 0.8em;*/
	
	/*
	visibility: hidden;
	display: none;
	*/
}

#concejales .card p.parcial span.euro{
font-size: 0.8em;
display: inline;
visibility: visible;
color: #666;
}

#concejales .card p.importe span.euro{
	color: #0000ee;
}

.grigio{
	color: #757575;
}

.card p.fecha{
font-size: 0.8em;
}

.card p.concepto{
 font-weight: 400;
}

label{
	font-weight: 400;
}

/*input[type="radio"].filter_ui{*/
input[type="radio"]{
	margin-right: 1em;
}

#tot_cTot{
	font-size: 1.5em;
	font-weight: 700;
}

.totC{
	font-weight: 700;
}

td.td_label{
	border-left: 8px solid #fff;
	padding-left: 1em !important;
}

td.td_label strong{
	font-weight: 900;
}

td.c1{
	border-left-color: #aa0000;
}

td.c2{
	border-left-color: #0000aa;
}

td.c3{
	border-left-color: #00aa00;
}

td.c4{
	border-left-color: #00aaaa;
}

td.c5{
	border-left-color: #aa00aa;
}

td.c6{
	border-left-color: #ffaa00;
}

td.c7{
	border-left-color: #00ffaa;
}

td.c8{
	border-left-color: #ccffaa;
}


.card.c1{
	border-top-color: #aa0000;
}

.card.c2{
	border-top-color: #0000aa;
}

.card.c3{
	border-top-color: #00aa00;
}

.card.c4{
	border-top-color: #00aaaa;
}

.card.c5{
	border-top-color: #aa00aa;
}

.card.c6{
	border-top-color: #ffaa00;
}

.card.c7{
	border-top-color: #00ffaa;
}

.card.c8{
	border-top-color: #ccffaa;
}


/* tr */
h3.por100{
	text-align: right;
}

p.nombre {
  /*height: 40px;*/
  text-transform: capitalize;
  padding-top: 1em;
} 

p.nombre span.apellido{
	font-weight: 500;
}

p.parcial span.money{
	float: right;
	line-height: 1em;
}
